body {

  font-family: Arial, sans-serif;
  background-color: #c39191;
  text-align: center;
  margin-top: 50px;
  color: #222;
}


h1 {
  color: #2a4d69;
}

#quiz {
  background-color: rgb(228, 196, 196);
  display: inline-block;
  padding: 20px 40px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  width: 250px;
  border: none;
  border-radius: 8px;
  background-color: #1d431f;
  color: white;
  cursor: 
  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='32' width='32'><text y='24' font-size='24'>🎸</text></svg>") 16 16, auto;


  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

#suivant {
  background-color: #2196F3;
}

#suivant:hover {
  background-color: #1976D2;
}

#resultat {
  margin-top: 15px;
  font-weight: bold;
  font-size: 18px;
}


    #next-btn:hover {
      background: #005fa3;
    }

    #level-title {
      background: #0078d7;
      color: white;
      padding: 10px 20px;
      border-radius: 20px;
      margin-bottom: 20px;
    }